html{
    background-color: #e6e9e9;
    background-image: -webkit-linear-gradient(
        270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    background-image: linear-gradient(
        270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
}
body{
    margin:auto;
    background-image: url("Images/river.jpg");
    background-attachment: fixed;
    background-size: cover;
    padding: 5em 10em 30em;
    max-width: 1200px;
    font-family: "Helvetica Neue", 
                 Helvetica, Arial, 
                 sans-serif;
    font-size: 20px;
    line-height: 2em;
    color: white;
    background-color: white;
    box-shadow: 0 0 2opx rgba(0, 0, 0, 0.08);
}
h1{
    color: white;
    padding-left:5em;

}
h2{
    margin-top: 1em;
    color: white;
}
p{
    padding-left:5em;
}
a{
    color: black;
    padding-left:2em;
}
a:link {
    color: cadetblue;
}

/* visited link */
a:visited {
    color: blueviolet;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: antiquewhite;
}

b, strong {
    font-weight: 600;
}
table,th,td{
    background: rgba(0,0,0,0.55);
}
th,td{
    padding: 5px;
    font-weight: 100;
}
.ul.pagination{
    display: inline-block;
    padding: 0;
    margin: 0;
}
ul.pagination li{
    display: inline;
}
ul.pagination li a{
    color: white;
    float: center;
    padding: 8px 16px;
    transition: background-color .3s;
}
ul.pagination li a.active{
    background-color: cadetblue;
    color: white;
}
ul.pagination li a:hover:not(.active){
    background-color: #ddd;
}


a.button {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;                     
  border-radius: 20px;
  border-top: solid 1px cadetblue;
  border-left: solid 1px cadetblue;
  border-right: solid 1px cadetblue;
  border-bottom: solid 1px cadetblue;
  color: cadetblue;
  line-height: 25px;
  font-size: 15px;
  padding: 12px 8px 12px 8px;
  display: block;
  float: right;
  height: 45px;
  width: 140px;
  margin-right: 14px;  
  background: cadetblue; /* Old browsers */
  background: -moz-linear-gradient(top,  #fdfdfd 0%, #f2f2f2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, cadetblue, color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  cadetblue 0%, rgba(0,0,0,0.35) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  cadetblue 0%, rgba(0,0,0,0.35) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  cadetblue 0%,#f2f2f2 100%); /* IE10+ */
  background: linear-gradient(top,  cadetblue 0%,#f2f2f2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow: 10px 10px 5px #888;
  -moz-box-shadow: 10px 10px 5px #888;
  box-shadow: 0px 1px 1px cadetblue;
}
a.button:hover {
  border-top: solid 1px cadetblue;
  border-left: solid 1px #b3b3b3;
  border-right: solid 1px #b3b3b3;
  border-bottom: solid 1px #b3b3b3;
  background: #fafafa; /* Old browsers */
  background: -moz-linear-gradient(top,  #fdfdfd 0%, #f2f2f2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F0E68C), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fdfdfd 0%, rgba(0,0,0,0.35) 80%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fdfdfd 0%, rgba(0,0,0,0.35) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* IE10+ */
  background: linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

a.button span {
  padding-left: 50px;
  display: block;
  height: 23px;
}

@-webkit-keyframes colorize{
    0%{-webkit-filter: grayscale(100%);
    }
    100%{
        -webkit-filter: grayscale(0%);
    }
}
@keyframes colorize{
    0%{
        filter: grayscale(100%);
    }
    100%{
        filter: grayscale(0%);
    }
}
